In [1]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [2]:
for num in range(10,20):
    print(num,end=" " )

10 11 12 13 14 15 16 17 18 19

In [3]:
list=[10,20,14,55,43,87,76]

In [4]:
len(list)

7

In [5]:
print("Artifical Intelligence")

Artifical Intelligence

In [6]:
A= "Aritifical Intelligence"

In [7]:
for i in A:
    print(i)

A
r
i
t
i
f
i
c
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [8]:
list=["your Name","your Age","your profession"]

In [9]:
for i in list:
    print(i)

your Name
your Age
your profession

In [10]:
tup=(1,"welcome",2,"hope")
print(tup)

(1, 'welcome', 2, 'hope')

In [11]:
tup1=(0,1,2,3)
tup=("python","hope")
print((tup1)+(tup))

(0, 1, 2, 3, 'python', 'hope')

In [15]:
list=[20,10,16,19,25,1,276,188]

In [17]:
for num in list:
    if((num%2)==1):
        print(f"{num} is odd number")

19 is odd number
25 is odd number
1 is odd number

In [21]:
list=[20,10,16,19,25,1,276,188]

In [20]:
for num in list:
    if((num%2)==0):
        print(f"{num} is even number")

20 is even number
10 is even number
16 is even number
276 is even number
188 is even number